.App {
  text-align: center;
}

h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
}
.navbar .nav-link {
  font-size: 14px;
  color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #dc3545;
}

nav .navbar-toggle:focus {
  box-shadow: none;
}

.footer-social-icons li:hover svg {
  fill: #212529;
}
.footer-navigation li:hover {
  color: #212529;
}
